<h1>Admin Dashboard</h1>

<ul>
  <li><%= link_to 'Manage Categories', admin_categories_path %></li>
  <li><%= link_to 'Manage Menus', admin_menus_path %></li>
</ul>

<%= link_to 'Back to Home', root_path %>
