<h1>Admin Dashboard</h1>

<ul>
  <li><%= link_to 'Manage Categories', cafe_admin_categories_path %></li>
  <li><%= link_to 'Manage Menus', cafe_admin_menu_items_path %></li>
</ul>

<%= link_to 'Back to Home', root_path %>
