<header>
  <h1>Welcome to Our Cafe Management System</h1>
</header>

<div class="container">
  <h1>Cafes</h1>
  <ul>
    <% @cafes.each do |cafe| %>
      <li><%= link_to cafe.name, cafe_path(cafe) %></li>
    <% end %>
  </ul>
</div>
